*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main-section {
  width: 100%;
  height: 720px;
  background-color: rgba(1, 1, 1, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}

.main-content img {
  width: 300px;
  height: 120px;
  margin: -20px;
}

.main-content p {
  font-size: 25px;
  max-width: 450px;
  margin: 0;
}

.form-section form {
  box-shadow: 0 2px 4px rgb(0 0 0 /10%), 0 8px 16px rgb(0 0 0 /10%);
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  height: 100%;
}

.form-section::after {
  content: "Create a Page for a celebrity, brand or business.";
  margin-left: 50px;
}

.create-link {
  display: flex;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-container {
  border-top: 0.5px solid rgba(1, 1, 1, 0.1);
  display: flex;
  justify-content: center;
}

.input {
  padding: 10px;
  width: 90%;
  margin: 15px 0 0 0;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgba(1, 1, 1, 0.2);
  height: 2.5vw;
}

.input::placeholder {
  padding-left: 10px;
  font-size: 16px;
}

.btn {
  border-radius: 10px;
  font-weight: bolder;
  font-size: 18px;
  color: #fff;
  height: 2.5vw;
  cursor: pointer;
}

.login-btn {
  background-color: #1877f2;
  width: 90%;
  padding: 10px;
  margin-top: 15px;
  outline: none;
  border: none;
  transition: 0.4s ease;
}

.login-btn:hover {
  background-color: #166fe5;
}

.login-container a {
  margin-top: 15px;
  text-decoration: none;
  color: #1877f2;
}

.login-container a:active {
  color: #1877f2;
}

.login-container a:hover {
  text-decoration: underline;
}

.create-container {
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.create-btn {
  padding: 10px;
  margin-top: 15px;
  outline: none;
  border: none;
  background-color: #42b72a;
  transition: 0.4s ease;
}

.create-btn:hover {
  background-color: #36a420;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
}

.top-footer_container {
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

.lang-list {
  display: flex;
}

.english {
  list-style: none;
  margin: 5px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(1, 1, 1, 0.6);
}

.langs {
  list-style-type: none;
  margin: 0 5px 5px 8px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.langs a {
  text-decoration: none;
}

.langs a:hover {
  text-decoration: underline;
}

#plus-btn a {
  text-decoration: none;
  position: relative;
  font-size: 20px;
  color: #333;
}

#plus-btn::after {
  content: "";
  width: 20px;
  height: 17px;
  background-color: #f5f6f7;
  z-index: -1;
  position: absolute;
}

.langs a {
  color: rgba(1, 1, 1, 0.6);
}

.bottom-footer_container .menu-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.credits {
  color: rgba(1, 1, 1, 0.6);
}
