*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.main-section {
  position: relative;
  width: 100%;
  height: 720px;
  background-color: rgba(1, 1, 1, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.sign-up-section-container {
  background-color: #fff;
  width: 440px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 75px;
  border-radius: 10px;
  z-index: 9999;
}

.top-head {
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
}

.top-head p {
  margin: 0;
  font-size: 30px;
  font-weight: bolder;
}

.top-head small {
  color: rgba(1, 1, 1, 0.5);
}

.name-container {
  width: 100%;
}

.name-container input {
  padding: 10px;
  margin: 0 10px 0 8px;
  border-radius: 10px;
  outline: none;
  background-color: rgba(150, 150, 150, 0.2);
  border: 1px solid rgba(1, 1, 1, 0.2);
}

.empa-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
}

.empa-input input {
  padding: 10px;
  width: 98%;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(1, 1, 1, 0.2);
  margin-bottom: 10px;
  background-color: rgba(150, 150, 150, 0.2);
}

.dob {
  display: flex;
  flex-direction: column;
}
.small {
  margin-left: 10px;
  color: rgba(1, 1, 1, 0.7);
}

.dob-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.dob-options select {
  width: 30%;
  height: 35px;
  border: 1px solid rgba(1, 1, 1, 0.2);
  border-radius: 5px;
  outline: none;
  background-color: white;
}

.gender-radio {
  display: flex;
  margin: 5px 0 0 10px;
}

.gender-small small {
  margin: 10px 0 0 20px;
  color: rgba(1, 1, 1, 0.5);
}

.gender-radio label {
  border: 1px solid rgba(1, 1, 1, 0.2);
  width: 30%;
  margin-left: 10px;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
}

.gender-radio label input {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  outline: none;
}

.learnmore-container {
  margin: 10px 0 0 10px;
  max-width: 400px;
  color: rgba(1, 1, 1, 0.6);
}

.learnmore-container small a {
  text-decoration: none;
  color: #166fe5;
}

.learnmore-container small a:hover {
  text-decoration: underline;
}

.privacypolicy-container {
  margin-left: 10px;
  margin-top: 10px;
  color: rgba(1, 1, 1, 0.6);
  font-size: 15px;
}

.privacypolicy-container small a {
  text-decoration: none;
  color: #166fe5;
}

.privacypolicy-container small a:hover {
  text-decoration: underline;
}

.signup-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.signup-button button {
  padding: 5px;
  width: 40%;
  height: 35px;
  border: none;
  background-color: #36a420;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}

.main-content img {
  width: 300px;
  height: 120px;
  margin: -20px;
}

.main-content p {
  font-size: 25px;
  max-width: 450px;
  margin: 0;
}

.form-section form {
  box-shadow: 0 2px 4px rgb(0 0 0 /10%), 0 8px 16px rgb(0 0 0 /10%);
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  height: 100%;
}

.form-section::after {
  content: "Create a Page for a celebrity, brand or business.";
  margin-left: 30px;
}

.create-link {
  display: flex;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-container {
  border-top: 0.5px solid rgba(1, 1, 1, 0.1);
  display: flex;
  justify-content: center;
}

.input {
  padding: 10px;
  width: 90%;
  margin: 15px 0 0 0;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgba(1, 1, 1, 0.2);
  height: 2.5vw;
}

.input::placeholder {
  padding-left: 10px;
  font-size: 16px;
}

.btn {
  border-radius: 10px;
  font-weight: bolder;
  font-size: 18px;
  color: #fff;
  height: 2.5vw;
  cursor: pointer;
}

.login-btn {
  background-color: #1877f2;
  width: 90%;
  padding: 10px;
  margin-top: 15px;
  outline: none;
  border: none;
  transition: 0.4s ease;
}

.login-btn:hover {
  background-color: #166fe5;
}

.login-container a {
  margin-top: 15px;
  text-decoration: none;
  color: #1877f2;
}

.login-container a:active {
  color: #1877f2;
}

.login-container a:hover {
  text-decoration: underline;
}

.create-container {
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.create-btn {
  padding: 10px;
  margin-top: 15px;
  outline: none;
  border: none;
  background-color: #42b72a;
  transition: 0.4s ease;
}

.create-btn:hover {
  background-color: #36a420;
}

.footer {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  margin: 0 auto;
}

.top-footer_container {
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

.lang-list {
  display: flex;
}

.english {
  list-style: none;
  margin: 5px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(1, 1, 1, 0.6);
}

.langs {
  list-style-type: none;
  margin: 0 5px 5px 8px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.langs a {
  text-decoration: none;
}

.langs a:hover {
  text-decoration: underline;
}

#plus-btn a {
  text-decoration: none;
  position: relative;
  font-size: 20px;
  color: #333;
}

#plus-btn::after {
  content: "";
  width: 20px;
  height: 17px;
  background-color: #f5f6f7;
  z-index: -1;
  position: absolute;
}

.langs a {
  color: rgba(1, 1, 1, 0.5);
}

.bottom-footer_container .menu-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.credits {
  color: rgba(1, 1, 1, 0.6);
}
